<div class="background mt-5">
    <div class="container px-5">
        <div class="row g-0 px-5">
            <div class="col-6">
               <div class="row g-0 ">
                <div class="col-12 mb-2">
                    <span class="fs-3 text-primary fw-semibold">
                        What We Do ?
                    </span>
                </div>
                <div class="col-12" style="text-align: justify;">
                    <span class="text-dark fs-5">
                        From the first pixel to the final line of code, we craft seamless digital experiences that not only look stunning but perform flawlessly. Our team blends minimalist design, scalable development, and search engine mastery to build brands that don’t just exist — they lead, inspire, and grow in today’s fast-moving digital world.
                    </span>
                </div>
               </div>
            </div>
            <div class="col-6 ps-4">
                <div class="card bg-primary border-0" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>