<div class="bg-primary mt-5 py-5">
    <div class="container">
        <div class="row g-0 d-flex align-items-center justify-content-center">
            <div class="col-12  mt-5 text-center">
                <span class="fs-2 fw-semibold text-white">
                    Crafting Experiences, Step by Step
                </span>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-evenly mt-3">
                <div class="box box-1">
                    <div class="fs-3 text-center fw-bold">1</div>
                    <div class="text-center fs-4">Research</div>
                </div>

                <div class="box box-2">
                    <div class="fs-3 text-center fw-bold">2</div>
                    <div class="text-center fs-4">Ideate</div>
                </div>

                <div class="box box-3">
                    <div class="fs-3 text-center fw-bold">3</div>
                    <div class="text-center fs-4">Execute</div>
                </div>

            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
            </div>

            <div class="col-10 mt-5">
                <div class="row g-0 px-5 research">
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-12 mb-2">
                                <span class="fs-3 text-dark fw-semibold">
                                    Research
                                </span>
                            </div>
                            <div class="col-12" style="text-align: justify;">
                                <span class="text-dark fs-5">
                                    From the first pixel to the final line of code, we craft seamless digital
                                    experiences that not only look stunning but perform flawlessly. Our team blends
                                    minimalist design, scalable development, and search engine mastery to build brands
                                    that don’t just exist — they lead, inspire, and grow in today’s fast-moving digital
                                    world.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 ps-4">
                        <div class="card bg-primary border-0">
                            <img src="/others/research.png" alt="" class="" style="max-height: 275px;">
                        </div>
                    </div>
                </div>
                <div class="row g-0 px-5 ideate">
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-12 mb-2">
                                <span class="fs-3 text-dark fw-semibold">
                                    Ideate
                                </span>
                            </div>
                            <div class="col-12" style="text-align: justify;">
                                <span class="text-dark fs-5">
                                    From the first pixel to the final line of code, we craft seamless digital
                                    experiences that not only look stunning but perform flawlessly. Our team blends
                                    minimalist design, scalable development, and search engine mastery to build brands
                                    that don’t just exist — they lead, inspire, and grow in today’s fast-moving digital
                                    world.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 ps-4">
                        <div class="card bg-primary border-0">
                            <img src="/others/idate.png" alt="" class="" style="max-height: 275px;">
                        </div>
                    </div>
                </div>
                <div class="row g-0 px-5 execute">
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-12 mb-2">
                                <span class="fs-3 text-dark fw-semibold">
                                    Execute
                                </span>
                            </div>
                            <div class="col-12" style="text-align: justify;">
                                <span class="text-dark fs-5 ">
                                    From the first pixel to the final line of code, we craft seamless digital
                                    experiences that not only look stunning but perform flawlessly. Our team blends
                                    minimalist design, scalable development, and search engine mastery to build brands
                                    that don’t just exist — they lead, inspire, and grow in today’s fast-moving digital
                                    world.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 ps-4">
                        <div class="card bg-primary border-0">
                            <img src="/others/execute.png" alt="" class="" style="max-height: 275px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>