.bar {
    height: 6px;
    width: 70%;
    background-color: white;
}

.inner-bar {
    height: 6px;
    background-color: rgb(0, 6, 50);
    animation: fill 25s infinite linear;
}

.box-1 {
    color: rgb(0, 6, 50);
}

.box-2 {
    animation: color-2 25s infinite linear;
    color: white;

}

.box-3 {
    animation: color-3 25s infinite linear;
    color: white;

}

.research {
    animation: screen-1 25s infinite linear;
    height: 300px;
}

.ideate {
    animation: screen-2 25s infinite linear;
    height: 300px;
    margin-top: -300px;
}

.execute {
    animation: screen-3 25s infinite linear;
    height: 300px;
    margin-top: -300px;
    
}


@keyframes fill {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes color-2 {


    30% {
        color: white;
    }

    33% {
        color: rgb(0, 6, 50);
    }

    100% {

        color: rgb(0, 6, 50);
    }
}

@keyframes color-3 {
    63% {
        color: white;
    }

    66% {
        color: rgb(0, 6, 50);
    }

    100% {

        color: rgb(0, 6, 50);
    }
}

@keyframes screen-1 {
    30% {
        opacity: 1;
    }

    32% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes screen-2 {
    0% {

        opacity: 0;
    }

    32% {
        opacity: 0;
    }

    34% {
        opacity: 1;
    }

    64%{
        opacity: 1;
    }
    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes screen-3 {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    68% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}