<div class="bg-primary">
    <div class="container px-5">
        <div class="row g-0 align-items-center" style="height: 100vh;">
            <div class="col-12 px-5 mt-5">
                <span class="fw-bold" style="font-size: 48px;"><span class="text-white">

                        We Transform Ideas Into Strategic,<br>
                        Purpose-driven & Impactful Visuals <br>
                        That
                    </span>
                    <span class="text-dark">
                        Feels Good
                    </span>
                </span>
                <div class="text-center mt-4">
                    <button class="col-2 btn bg-black rounded-pill text-white fw-semibold py-2 fs-6 me-1">
                        Pricing
                    </button>
                    <button class="col-2 btn bg-white rounded-pill text-black fw-semibold  py-2 fs-6 ms-1">
                        Contact Us
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>