<div class="background mt-5">
    <div class="container ">
        <div class="row g-0 ">
            <div class="col-12 text-center">
                <span class="fs-3 text-primary fw-semibold">
                    Our Services
                </span>
            </div>
            <div class="col-12 row">
                <div class="row g-0">
                    <div class="col-7 col-sm-6 col-md-4 p-1" *ngFor="let card of cards">

                        <div class="card p-1 border-dark">
                           <div class="row g-0">
                            <div class="col-12">
                                <img [src]="card.icon" [alt]="card.title" class="rounded-pill p-2 bg-primary-light">
                            </div>
                            <div class="col-12 mt-1">
                                <span class="text-primary fs-5">
                                    {{card.title}}
                                </span>
                            </div>
                            <div class="col-12">
                                <span class="text-dark fs-7">
                                    {{card.text}}
                                </span>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>