* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;                 // Enables scrolling
  scrollbar-width: none;         // Firefox
  -ms-overflow-style: none;      // IE 10+
}

body::-webkit-scrollbar {
  display: none;                 // Chrome, Safari
}

.bg-primary{
     background-color:#ba568a !important;
}
.bg-primary-light{
  background-color:   rgb(218,218,218);
}
.text-primary{
  color: #ba568a!important;
}

.fs-7{
  font-size: 13px;
}
.border-primary{
  border-color: rgb(157,157, 157) !important;
}
.text-secondary{
  color: rgb(30,25,57) !important;
}